<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>landing-page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Post+No+Bills+Colombo+ExtraBold%3A800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Post+No+Bills+Jaffna+ExtraBold%3A800"/>
  <link rel="stylesheet" href="./styles/index.css"/>
</head>
<body>
<div class="landing-page-Ru9">
  <div class="auto-group-mzbu-NC7">
    <div class="auto-group-mjeo-2R5">
      <div class="rectangle-10-LwZ">
      </div>
      <p class="r-Sjh">
        <span class="r-Sjh-sub-0">ह</span>
        <span class="r-Sjh-sub-1">R</span>
      </p>
    </div>
    <div class="auto-group-n3fv-hSf">
      <button onclick="window.location.href='choice.html'"><p class="register-nj1">Register</p></button>
      <p class="log-in-VNX">Log in</p>
    </div>
  </div>
  <div class="auto-group-z3eo-AjZ">
    <p class="raaj-H3V">
      <span class="raaj-H3V-sub-0">हम</span>
      <span class="raaj-H3V-sub-1">Raaj</span>
    </p>
    <p class="ek-saath-ek-awaaz-har-nagar-ke-liye-dFm">EK SAATH, EK AWAAZ, HAR NAGAR KE LIYE</p>
  </div>
  <div class="what-raaj-offers-TEo">What हमRaaj offers?</div>
  <p class="the-rural-areas-lead-to-isolation-unequal-access-to-resources-and-limited-collaborative-problem-solving-existing-communication-channels-often-fail-to-bridge-this-gap-effectively-hindering-community-development-if-any-person-wants-to-convey-their-problem-or-message-to-the-local-representative-of-their-locality-rwa-president-or-villages-pradhan-mla-they-were-not-able-to-do-that-and-vice-versa-XEf">
  The rural areas lead to isolation, unequal access to resources, and limited collaborative problem-solving. Existing communication channels often fail to bridge this gap effectively, hindering community development.
  <br/>
  
  <br/>
  If any person wants to convey their problem or message to the local representative of their locality (RWA president or Village’s Pradhan/MLA) they were not able to do that and vice versa!
  </p>
  <div class="auto-group-luwu-pd5">
    <div class="auto-group-ymou-iyM">
      <img class="picture1-1-Gjy" src="./assets/picture1-1.png"/>
      <p class="makes-things-faster-nCX">
      Makes things 
      <br/>
      faster
      </p>
    </div>
    <div class="auto-group-r3af-6DD">
      <div class="auto-group-qsat-1qy">
        <img class="picture2-wUj" src="./assets/picture2.png"/>
        <p class="focuses-on-main-issues-GX1">
        Focuses on 
        <br/>
        main issues
        </p>
      </div>
      <div class="auto-group-nzqb-9Ku">
        <img class="picture3-V8s" src="./assets/picture3.png"/>
        <p class="assures-the-progress-D4s">
        Assures the
        <br/>
        progress
        </p>
      </div>
    </div>
  </div>
  <div class="auto-group-nc15-KNo">
    <div class="raajs-impact-the-desi-connect-q6F"> हमRaaj’s impact: The Desi Connect</div>
    <div class="humraaj-champions-unity-empowerment-and-sustainable-development-leaving-a-lasting-mark-on-diverse-communities-by-scaling-and-using-innovations-g6s">&#34;Humraaj&#34; champions unity, empowerment, and sustainable development, leaving a lasting mark on diverse communities  by scaling and using innovations.</div>
  </div>
</div>
</body>