
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.landing-page-Ru9 {
  flex-direction: column;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(250.04deg, #29384d 50.42%, #8e00ff 87.93%);
  box-sizing: border-box;
  padding: 2rem 0rem 7.8rem 2.4rem;
  overflow: hidden;

  .auto-group-mzbu-NC7 {
    height: 9.6rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 2.9rem;
    width: 100%;

    .auto-group-mjeo-2R5 {
      position: relative;
      flex-shrink: 0;
      margin-right: 21.7rem;
      width: 8.3rem;
      height: 100%;

      .rectangle-10-LwZ {
        border-radius: 2rem;
        width: 8.3rem;
        height: 8.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #301063;
      }
      .r-Sjh {
        height: 9.6rem;
        left: 1rem;
        top: 0;
        font-weight: 400;
        line-height: 1.6009999593;
        white-space: nowrap;
        display: flex;
        width: 7.3rem;
        align-items: baseline;
        font-size: 6rem;
        color: #ffffff;
        font-family: Hind, 'Source Sans Pro';
        position: absolute;

        .r-Sjh-sub-0 {
          font-weight: 400;
          line-height: 1.6;
          color: #ffffff;
          font-family: Hind, 'Source Sans Pro';
          font-size: 6rem;
        }
        .r-Sjh-sub-1 {
          font-size: 6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .auto-group-n3fv-hSf {
      margin-bottom: 1.2rem;
      width: 128rem;
      display: flex;
      border-radius: 3rem;
      box-sizing: border-box;
      padding: 1.8rem 38.3rem 1.8rem 63.1rem;
      align-items: center;
      background-color: #4a1d95;
      flex-shrink: 0;

      .register-nj1 {
        color: #ffffff;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 4.4rem;
        cursor: pointer;
        font-size: 3.2rem;
      }
      .log-in-VNX {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-z3eo-AjZ {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:6f1362865cfaed174a3d4d4a1060d3c92cb2ef8f');
    flex-shrink: 0;
    height: 56.5rem;
    position: relative;
    background-position: center;
    border-radius: 31.85rem;
    margin: 0rem 15.2rem 12.9rem 12.9rem;
    width: calc(100% - 28.1rem);

    .raaj-H3V {
      white-space: nowrap;
      align-items: baseline;
      left: 17.1rem;
      top: 11.8rem;
      position: absolute;
      font-size: 20rem;
      font-weight: 400;
      line-height: 1.6;
      color: #ffffff;
      font-family: Hind, 'Source Sans Pro';
      width: 68.2rem;
      height: 32rem;
      display: flex;

      .raaj-H3V-sub-0 {
      }
      .raaj-H3V-sub-1 {
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 20rem;
      }
    }
    .ek-saath-ek-awaaz-har-nagar-ke-liye-dFm {
      width: 46.8rem;
      height: 3.6rem;
      position: absolute;
      font-family: Poppins, 'Source Sans Pro';
      color: #ffffff;
      white-space: nowrap;
      left: 27.2rem;
      top: 34.2rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  .what-raaj-offers-TEo {
    font-family: Poppins, 'Source Sans Pro';
    margin: 0rem 2.4rem 0.7rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.5;
    flex-shrink: 0;
    color: #ffffff;
    white-space: nowrap;
  }
  .the-rural-areas-lead-to-isolation-unequal-access-to-resources-and-limited-collaborative-problem-solving-existing-communication-channels-often-fail-to-bridge-this-gap-effectively-hindering-community-development-if-any-person-wants-to-convey-their-problem-or-message-to-the-local-representative-of-their-locality-rwa-president-or-villages-pradhan-mla-they-were-not-able-to-do-that-and-vice-versa-XEf {
    max-width: 89.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    margin: 0rem 2.3rem 0.8rem 0rem;
    text-align: center;
    font-size: 2.4rem;
    flex-shrink: 0;
  }
  .auto-group-luwu-pd5 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 24.2rem 2.2rem 21.65rem;
    width: calc(100% - 45.85rem);
    height: 21.9rem;

    .auto-group-ymou-iyM {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .picture1-1-Gjy {
        flex-shrink: 0;
        margin-bottom: 1.2rem;
        width: 10.6rem;
        height: 12.6rem;
        object-fit: cover;
        vertical-align: top;
      }
      .makes-things-faster-nCX {
        font-family: Post No Bills Colombo ExtraBold, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 19.5rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.2575;
        color: #ffffff;
      }
    }
    .auto-group-r3af-6DD {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.4rem 0rem 0rem 11.95rem;
      height: 100%;
      display: flex;
      align-items: flex-end;

      .auto-group-qsat-1qy {
        width: 16.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 14.9rem;

        .picture2-wUj {
          left: 2.7rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 11.6rem;
          height: 13.6rem;
          position: absolute;
        }
        .focuses-on-main-issues-GX1 {
          left: 0;
          font-weight: 800;
          line-height: 1.2575;
          color: #ffffff;
          width: 16.8rem;
          height: 8.1rem;
          position: absolute;
          top: 13.4rem;
          text-align: center;
          font-size: 3.2rem;
          font-family: Post No Bills Jaffna ExtraBold, 'Source Sans Pro';
        }
      }
      .auto-group-nzqb-9Ku {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .picture3-V8s {
          margin: 0rem 0rem 1.2rem 1.6rem;
          width: 12rem;
          height: 12.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .assures-the-progress-D4s {
          font-family: Post No Bills Colombo ExtraBold, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 16.6rem;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 800;
          line-height: 1.2575;
          color: #ffffff;
        }
      }
    }
  }
  .auto-group-nc15-KNo {
    flex-shrink: 0;
    margin: 0rem 19.3rem 0rem 17rem;
    width: calc(100% - 36.3rem);
    height: 16.7rem;
    position: relative;

    .raajs-impact-the-desi-connect-q6F {
      height: 6rem;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      align-items: center;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      font-size: 4rem;
      width: 68.9rem;
      left: 10.05rem;
      top: 0;
      justify-content: center;
      font-weight: 400;
    }
    .humraaj-champions-unity-empowerment-and-sustainable-development-leaving-a-lasting-mark-on-diverse-communities-by-scaling-and-using-innovations-g6s {
      position: absolute;
      left: 0;
      top: 5.9rem;
      display: flex;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      width: 89.3rem;
      height: 10.8rem;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}
