
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.macbook-air-13-FPM {
  background: linear-gradient(250.04deg, #29384d 50.42%, #8e00ff 87.93%);
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;

  .rectangle-10-B27 {
    border-radius: 5.1rem;
    width: 71.7rem;
    height: 70.9rem;
    position: absolute;
    left: 28.1rem;
    top: 7.1rem;
    background: linear-gradient(359.14deg, #929191 99.26%, rgba(255, 250, 250, 0) 247.7%);
  }
  .rectangle-11-U1D {
    left: 34.7rem;
    top: 19.5rem;
    background-color: #d9d9d9;
    width: 59.4rem;
    height: 6.4rem;
    position: absolute;
  }
  .rectangle-19-Q9m {
    width: 59.4rem;
    height: 6.4rem;
    position: absolute;
    left: 34.7rem;
    top: 62.5rem;
    background-color: #d9d9d9;
  }
  .rectangle-21-8bZ {
    width: 59.4rem;
    height: 6.4rem;
    position: absolute;
    left: 34.7rem;
    top: 45.4rem;
    background-color: #d9d9d9;
  }
  .rectangle-22-Ttj {
    width: 59.4rem;
    height: 6.4rem;
    position: absolute;
    left: 34.7rem;
    top: 54rem;
    background-color: #d9d9d9;
  }
  .rectangle-15-ng7 {
    left: 34.7rem;
    top: 37.4rem;
    background-color: #d9d9d9;
    width: 15rem;
    height: 5.8rem;
    position: absolute;
  }
  .rectangle-17-Kvw {
    height: 5.8rem;
    position: absolute;
    left: 52.4rem;
    top: 37.4rem;
    background-color: #d9d9d9;
    width: 12.9rem;
  }
  .rectangle-18-TXM {
    width: 26rem;
    height: 5.8rem;
    position: absolute;
    left: 68.1rem;
    top: 37.4rem;
    background-color: #d9d9d9;
  }
  .rectangle-14-QBh {
    vertical-align: top;
    border-radius: 5rem;
    height: 6.6rem;
    cursor: pointer;
    position: absolute;
    object-fit: contain;
    width: 16.8rem;
    left: 56rem;
    top: 71rem;
  }
  .log-in-87h {
    top: 71.3rem;
    font-size: 4rem;
    font-weight: 400;
    white-space: nowrap;
    height: 6rem;
    position: absolute;
    left: 58.6rem;
    line-height: 1.5;
    color: #212121;
    font-family: Poppins, 'Source Sans Pro';
    width: 11.7rem;
    cursor: pointer;
    display: flex;
  }
  .register-DQ3 {
    width: 14.1rem;
    left: 56.95rem;
    text-align: center;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    height: 4.4rem;
    position: absolute;
    top: 12.2rem;
    font-size: 3.6rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .how-do-you-want-to-register-as-JwH {
    height: 3rem;
    position: absolute;
    left: 45.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2125;
    width: 36.6rem;
    white-space: nowrap;
    color: #000000;
    font-size: 2.4rem;
    font-family: Inter, 'Source Sans Pro';
    top: 21.45rem;
  }
  .region-zJK {
    width: 7.8rem;
    height: 3rem;
    position: absolute;
    left: 38.3rem;
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    line-height: 1.2125;
    top: 38.85rem;
    align-items: center;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .block-tuV {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3rem;
    top: 38.85rem;
    align-items: center;
    line-height: 1.2125;
    color: #000000;
    font-size: 2.4rem;
    width: 6.3rem;
    position: absolute;
    left: 77.95rem;
    display: flex;
    justify-content: center;
  }
  .city-1DR {
    color: #000000;
    white-space: nowrap;
    top: 38.85rem;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    display: flex;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 4.6rem;
    height: 3rem;
    position: absolute;
    left: 56.6rem;
  }
  .mobile-no-7nF {
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.8rem;
    height: 3rem;
    position: absolute;
    left: 58.05rem;
    top: 64.15rem;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    line-height: 1.2125;
    color: #000000;
  }
  .rectangle-20-S3q {
    background-color: #d9d9d9;
    width: 59.4rem;
    height: 6.4rem;
    position: absolute;
    left: 34.7rem;
    top: 28.7rem;
  }
  .organisation-id-AkX {
    position: absolute;
    align-items: center;
    justify-content: center;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    height: 3rem;
    left: 55.25rem;
    top: 30.65rem;
    display: flex;
    font-size: 2.4rem;
    font-family: Inter, 'Source Sans Pro';
    width: 17.4rem;
  }
  .name-suq {
    justify-content: center;
    font-size: 2.4rem;
    top: 46.9rem;
    display: flex;
    position: absolute;
    left: 60.6rem;
    align-items: center;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 6.7rem;
    height: 3rem;
    white-space: nowrap;
  }
  .password-PNP {
    height: 3rem;
    position: absolute;
    left: 58.4rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.1rem;
    top: 55.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    line-height: 1.2125;
  }
}
