
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.macbook-air-12-gkw {
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(250.04deg, #29384d 50.42%, #8e00ff 87.93%);

  .rectangle-10-yk3 {
    left: 28.1rem;
    top: 7.1rem;
    background: linear-gradient(359.14deg, #929191 99.26%, rgba(255, 250, 250, 0) 247.7%);
    border-radius: 5.1rem;
    width: 71.7rem;
    height: 70.9rem;
    position: absolute;
  }
  .rectangle-11-rYw {
    height: 7.4rem;
    position: absolute;
    left: 37.3rem;
    top: 20.9rem;
    background-color: #d9d9d9;
    width: 53.4rem;
  }
  .rectangle-19-BbD {
    width: 53.4rem;
    height: 7.4rem;
    position: absolute;
    left: 37.3rem;
    top: 48.9rem;
    background-color: #d9d9d9;
  }
  .rectangle-21-WdV {
    width: 53.4rem;
    height: 7.4rem;
    position: absolute;
    left: 37.3rem;
    top: 39.1rem;
    background-color: #d9d9d9;
  }
  .rectangle-20-F5H {
    background-color: #d9d9d9;
    width: 53.4rem;
    height: 7.5rem;
    position: absolute;
    left: 37.3rem;
    top: 58.2rem;
  }
  .rectangle-15-Ai3 {
    top: 30.3rem;
    background-color: #d9d9d9;
    width: 13.5rem;
    height: 6.7rem;
    position: absolute;
    left: 37.3rem;
  }
  .rectangle-17-JpF {
    top: 30.3rem;
    background-color: #d9d9d9;
    width: 11.6rem;
    height: 6.7rem;
    position: absolute;
    left: 53.2rem;
  }
  .rectangle-18-DRR {
    height: 6.7rem;
    position: absolute;
    left: 67.3rem;
    top: 30.3rem;
    background-color: #d9d9d9;
    width: 23.4rem;
  }
  .rectangle-14-Xwu {
    top: 68.9rem;
    border-radius: 5rem;
    left: 55.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 16.8rem;
    height: 6.6rem;
    cursor: pointer;
    position: absolute;
  }
  .log-in-F7D {
    font-weight: 400;
    color: #212121;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.7rem;
    display: flex;
    left: 58.2rem;
    top: 69.2rem;
    font-size: 4rem;
    line-height: 1.5;
    height: 6rem;
    position: absolute;
  }
  .register-9TV {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 4.4rem;
    text-align: center;
    font-size: 3.6rem;
    line-height: 1.2125;
    width: 14.1rem;
    position: absolute;
    left: 56.95rem;
    top: 12.2rem;
  }
  .how-do-you-want-to-register-as-3om {
    width: 36.6rem;
    left: 45.25rem;
    top: 23.4rem;
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3rem;
    position: absolute;
    align-items: center;
    font-size: 2.4rem;
    line-height: 1.2125;
  }
  .region-Xiw {
    line-height: 1.2125;
    width: 7.8rem;
    height: 3rem;
    position: absolute;
    left: 40.15rem;
    top: 32.2rem;
    align-items: center;
    justify-content: center;
    color: #000000;
    white-space: nowrap;
    display: flex;
    font-size: 2.4rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .block-EtF {
    white-space: nowrap;
    width: 6.3rem;
    left: 75.9rem;
    top: 32.2rem;
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    height: 3rem;
    position: absolute;
    justify-content: center;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .city-Mhy {
    display: flex;
    justify-content: center;
    line-height: 1.2125;
    white-space: nowrap;
    width: 4.6rem;
    left: 56.75rem;
    top: 32.2rem;
    align-items: center;
    font-size: 2.4rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 3rem;
    position: absolute;
  }
  .mobile-no-gET {
    display: flex;
    color: #000000;
    white-space: nowrap;
    width: 11.8rem;
    height: 3rem;
    position: absolute;
    left: 58.05rem;
    top: 60.1rem;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .name-zW3 {
    left: 60.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, 'Source Sans Pro';
    height: 3rem;
    position: absolute;
    top: 41.5rem;
    font-size: 2.4rem;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    width: 6.7rem;
  }
  .password-Vxb {
    position: absolute;
    top: 51.5rem;
    justify-content: center;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.1rem;
    height: 3rem;
    align-items: center;
    font-size: 2.4rem;
    line-height: 1.2125;
    color: #000000;
    left: 58.5rem;
    display: flex;
  }
}
