
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.macbook-air-5-6LF {
  box-sizing: border-box;
  padding: 5.9rem 8.6rem 16rem 7.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(250.04deg, #29384d 50.42%, #8e00ff 87.93%);
}
.macbook-air-5-6LF .you-want-to-join-raaj-as-nis {
  margin: 0rem 0rem 2.7rem 1.3rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  font-family: Hind, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-air-5-6LF .auto-group-ib67-4RV {
  width: 100%;
  height: 50.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-air-5-6LF .auto-group-ib67-4RV .auto-group-l4qo-ody {
  margin-right: 15.15rem;
  width: 39.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.macbook-air-5-6LF .auto-group-ib67-4RV .auto-group-l4qo-ody .rectangle-1-M9h {
  width: 39.4rem;
  height: 50.6rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ab9ec6;
  border-radius: 3rem;
}
.macbook-air-5-6LF .auto-group-ib67-4RV .auto-group-l4qo-ody .vector-H3M {
  width: 27.8rem;
  height: 29.3rem;
  position: absolute;
  left: 5.8rem;
  top: 2.8rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-air-5-6LF .auto-group-ib67-4RV .auto-group-l4qo-ody .user-onP {
  width: 9.5rem;
  height: 4.4rem;
  position: absolute;
  left: 14.95rem;
  top: 35.1rem;
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-5-6LF .auto-group-ib67-4RV .auto-group-l4qo-ody .join-as-a-user-to-find-the-solutions-of-your-grieverances-7HH {
  width: 21.8rem;
  height: 11.6rem;
  position: absolute;
  left: 8.8rem;
  top: 39.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  font-family: Hind, 'Source Sans Pro';
}
.macbook-air-5-6LF .auto-group-ib67-4RV .or-Nj1 {
  margin-right: 13.85rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  font-family: Hind, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-air-5-6LF .auto-group-ib67-4RV .auto-group-oz3z-UX9 {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 1.8rem 3.6rem 0rem 3.6rem;
  width: 39.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ab9fc6;
  border-radius: 3rem;
  flex-shrink: 0;
}
.macbook-air-5-6LF .auto-group-ib67-4RV .auto-group-oz3z-UX9 .vector-BRZ {
  margin-bottom: 3rem;
  width: 32.2rem;
  height: 30.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-air-5-6LF .auto-group-ib67-4RV .auto-group-oz3z-UX9 .auto-group-gkrx-WCw {
  margin: 0rem 0.65rem 0rem 1.15rem;
  width: calc(100% - 1.8rem);
  height: 15.5rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-air-5-6LF .auto-group-ib67-4RV .auto-group-oz3z-UX9 .auto-group-gkrx-WCw .representative-pzK {
  width: 30.4rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-5-6LF .auto-group-ib67-4RV .auto-group-oz3z-UX9 .auto-group-gkrx-WCw .join-as-a-representative-to-solve-the-issues-effectively-w3M {
  width: 24.8rem;
  height: 11.6rem;
  position: absolute;
  left: 2.8rem;
  top: 3.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  font-family: Hind, 'Source Sans Pro';
}
