
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.landing-page {
  box-sizing: border-box;
  padding: 2rem 0rem 7.8rem 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(250.04deg, #29384d 50.42%, #8e00ff 87.93%);
}
.landing-page .navbar {
  margin-bottom: 2.9rem;
  width: 100%;
  height: 9.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-page .navbar .logo {
  margin-right: 21.7rem;
  width: 8.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.landing-page .navbar .logo .logo-frame {
  width: 8.3rem;
  height: 8.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #301063;
  border-radius: 2rem;
}
.landing-page .navbar .logo .logo-txt {
  width: 7.3rem;
  height: 9.6rem;
  position: absolute;
  left: 1rem;
  top: 0;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.6009999593;
  color: #ffffff;
  font-family: Hind, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.landing-page .navbar .logo .logo-txt .l-txt1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  font-family: Hind, 'Source Sans Pro';
}
.landing-page .navbar .logo .logo-txt .l-txt2 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.landing-page .navbar .sidebar {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding: 1.8rem 38.3rem 1.8rem 63.1rem;
  width: 128rem;
  display: flex;
  align-items: center;
  background-color: #4a1d95;
  border-radius: 3rem;
  flex-shrink: 0;
}
.landing-page .navbar .sidebar .register-txt {
  margin-right: 4.4rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page .navbar .sidebar .log-in {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page .hero-section {
  margin: 0rem 15.2rem 12.9rem 12.9rem;
  width: calc(100% - 28.1rem);
  height: 56.5rem;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/istockphoto-1159730474-612x612-1-bg.png');
  border-radius: 31.85rem;
  flex-shrink: 0;
}
.landing-page .hero-section .main-txt {
  width: 68.2rem;
  height: 32rem;
  position: absolute;
  left: 17.1rem;
  top: 11.8rem;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  font-family: Hind, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.landing-page .hero-section .main-txt .main-txt-1 {
}
.landing-page .hero-section .main-txt .main-txt-2 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.landing-page .hero-section .tagline {
  width: 46.8rem;
  height: 3.6rem;
  position: absolute;
  left: 27.2rem;
  top: 34.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page .offers {
  margin: 0rem 2.4rem 0.7rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page .offers-detail {
  margin: 0rem 2.3rem 0.8rem 0rem;
  max-width: 89.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page .pictures {
  margin: 0rem 24.2rem 2.2rem 21.65rem;
  width: calc(100% - 45.85rem);
  height: 21.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page .pictures .p-elem-1 {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page .pictures .p-elem-1 .clock-img {
  margin-bottom: 1.2rem;
  width: 10.6rem;
  height: 12.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page .pictures .p-elem-1 .p-elem-txt-1 {
  max-width: 19.5rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Post No Bills Colombo ExtraBold, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page .pictures .p-elem-2-3 {
  box-sizing: border-box;
  padding: 0.4rem 0rem 0rem 11.95rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.landing-page .pictures .p-elem-2-3 .p-elem-2 {
  margin-right: 14.9rem;
  width: 16.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.landing-page .pictures .p-elem-2-3 .p-elem-2 .target-img {
  width: 11.6rem;
  height: 13.6rem;
  position: absolute;
  left: 2.7rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.landing-page .pictures .p-elem-2-3 .p-elem-2 .p-elem-txt-2 {
  width: 16.8rem;
  height: 8.1rem;
  position: absolute;
  left: 0;
  top: 13.4rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Post No Bills Jaffna ExtraBold, 'Source Sans Pro';
}
.landing-page .pictures .p-elem-2-3 .p-elem-3 {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page .pictures .p-elem-2-3 .p-elem-3 .doc-img {
  margin: 0rem 0rem 1.2rem 1.6rem;
  width: 12rem;
  height: 12.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page .pictures .p-elem-2-3 .p-elem-3 .p-elem-3-txt {
  max-width: 16.6rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Post No Bills Colombo ExtraBold, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page .footer {
  margin: 0rem 19.3rem 0rem 17rem;
  width: calc(100% - 36.3rem);
  height: 16.7rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page .footer .footer-heading {
  width: 68.9rem;
  height: 6rem;
  position: absolute;
  left: 10.05rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page .footer .footer-desc {
  width: 89.3rem;
  height: 10.8rem;
  position: absolute;
  left: 0;
  top: 5.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
