
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.macbook-air-13-FPM {
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(250.04deg, #29384d 50.42%, #8e00ff 87.93%);
}
.macbook-air-13-FPM .rectangle-10-B27 {
  width: 71.7rem;
  height: 70.9rem;
  position: absolute;
  left: 28.1rem;
  top: 7.1rem;
  background: linear-gradient(359.14deg, #929191 99.26%, rgba(255, 250, 250, 0) 247.7%);
  border-radius: 5.1rem;
}
.macbook-air-13-FPM .rectangle-11-U1D {
  width: 59.4rem;
  height: 6.4rem;
  position: absolute;
  left: 34.7rem;
  top: 19.5rem;
  background-color: #d9d9d9;
}
.macbook-air-13-FPM .rectangle-19-Q9m {
  width: 59.4rem;
  height: 6.4rem;
  position: absolute;
  left: 34.7rem;
  top: 62.5rem;
  background-color: #d9d9d9;
}
.macbook-air-13-FPM .rectangle-21-8bZ {
  width: 59.4rem;
  height: 6.4rem;
  position: absolute;
  left: 34.7rem;
  top: 45.4rem;
  background-color: #d9d9d9;
}
.macbook-air-13-FPM .rectangle-22-Ttj {
  width: 59.4rem;
  height: 6.4rem;
  position: absolute;
  left: 34.7rem;
  top: 54rem;
  background-color: #d9d9d9;
}
.macbook-air-13-FPM .rectangle-15-ng7 {
  width: 15rem;
  height: 5.8rem;
  position: absolute;
  left: 34.7rem;
  top: 37.4rem;
  background-color: #d9d9d9;
}
.macbook-air-13-FPM .rectangle-17-Kvw {
  width: 12.9rem;
  height: 5.8rem;
  position: absolute;
  left: 52.4rem;
  top: 37.4rem;
  background-color: #d9d9d9;
}
.macbook-air-13-FPM .rectangle-18-TXM {
  width: 26rem;
  height: 5.8rem;
  position: absolute;
  left: 68.1rem;
  top: 37.4rem;
  background-color: #d9d9d9;
}
.macbook-air-13-FPM .rectangle-14-QBh {
  width: 16.8rem;
  height: 6.6rem;
  cursor: pointer;
  position: absolute;
  left: 56rem;
  top: 71rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
}
.macbook-air-13-FPM .log-in-87h {
  width: 11.7rem;
  height: 6rem;
  cursor: pointer;
  position: absolute;
  left: 58.6rem;
  top: 71.3rem;
  display: flex;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-13-FPM .register-DQ3 {
  width: 14.1rem;
  height: 4.4rem;
  position: absolute;
  left: 56.95rem;
  top: 12.2rem;
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-13-FPM .how-do-you-want-to-register-as-JwH {
  width: 36.6rem;
  height: 3rem;
  position: absolute;
  left: 45.65rem;
  top: 21.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-13-FPM .region-zJK {
  width: 7.8rem;
  height: 3rem;
  position: absolute;
  left: 38.3rem;
  top: 38.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-13-FPM .block-tuV {
  width: 6.3rem;
  height: 3rem;
  position: absolute;
  left: 77.95rem;
  top: 38.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-13-FPM .city-1DR {
  width: 4.6rem;
  height: 3rem;
  position: absolute;
  left: 56.6rem;
  top: 38.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-13-FPM .mobile-no-7nF {
  width: 11.8rem;
  height: 3rem;
  position: absolute;
  left: 58.05rem;
  top: 64.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-13-FPM .rectangle-20-S3q {
  width: 59.4rem;
  height: 6.4rem;
  position: absolute;
  left: 34.7rem;
  top: 28.7rem;
  background-color: #d9d9d9;
}
.macbook-air-13-FPM .organisation-id-AkX {
  width: 17.4rem;
  height: 3rem;
  position: absolute;
  left: 55.25rem;
  top: 30.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-13-FPM .name-suq {
  width: 6.7rem;
  height: 3rem;
  position: absolute;
  left: 60.6rem;
  top: 46.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.macbook-air-13-FPM .password-PNP {
  width: 11.1rem;
  height: 3rem;
  position: absolute;
  left: 58.4rem;
  top: 55.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
